{% extends 'base.html' %}

{% block content %}
<div class='signup_body'>

    <section class="wrapper">
        <div class="form signup">
          <header>Signup</header>
          <form method="post">
           
            {% csrf_token %}
            <input type="text" name="first_name" placeholder="First name" required />
            <input type="text" name="last_name" placeholder="Last name" required />
            <input type="email" name="email" placeholder="Email address" required />
            <input type="tel" name="tel" placeholder="Tel" required />
            <input type="password" name="password" placeholder="Password" required />
            
            <button class='btn btn-light' type="submit" >Signup</button>
          </form>
          <div class="sign_up_socials">
            {% comment %} <input type="checkbox" id="signupCheck" />
            <label for="signupCheck">I accept all terms & conditions</label> {% endcomment %}
            <h6>Sign Up with</h6>
            <div class='social'>
              <i class="ri-github-fill"></i>
              <p>OR</p>
              <i class="ri-google-fill"></i>
            </div>
          </div>
        </div>
        <div class="form login">
          <header>Login</header>
          <form action="#">
            <input type="text" placeholder="Email address" required />
            <input type="password" placeholder="Password" required />
            <a href="#">Forgot password?</a>
            <input type="submit" value="Login" />
          </form>
        </div>
        <script>
          const wrapper = document.querySelector(".wrapper"),
            signupHeader = document.querySelector(".signup header"),
            loginHeader = document.querySelector(".login header");
          loginHeader.addEventListener("click", () => {
            wrapper.classList.add("active");
          });
          signupHeader.addEventListener("click", () => {
            wrapper.classList.remove("active");
          });
        </script>
      </section> 
</div>



  {% endblock %}
   